body {
  font-family: Arial;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 30px;
}

.container {
  width: 600px;
  margin: auto;
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
}

button {
  padding: 8px 15px;
  margin: 4px;
}

hr {
  margin-top: 20px;
}

#cityImage {
  width: 250px;
  border: 1px solid #999999;
}

.footer {
  margin-top: 25px;
  font-size: 12px;
  color: gray;
}
